.pref-notifications {
    &--container {
      height: 100%;
      background-color: var(--pf-t--global--color--background--secondary);
    }
    &--wrapper {
      display: block;
      height: 100%;
    }
    &--grid {
      display: grid;
      grid-template: 
        "head head"
        "nav inputs" 
        "btn btn";
      grid-template-columns: 1.3fr 2.7fr;
      grid-template-rows: min-content 1fr 69px;
      min-height: 100vh;
    }
    &--head {
      grid-area: head;
    }
    &--title {
      display: flex;      
      align-items: center;
      padding: var(--pf-t--global--spacer--lg) 0 var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg);
      .pf-v6-c-label { margin-left: var(--pf-t--global--spacer--md); }
    }
    &--subtitle {
      position: relative;
      border-bottom: 1px solid var(--pf-t--global--color--border--default);
      padding: 0  var(--pf-t--global--spacer--lg) var(--pf-t--global--spacer--lg) var(--pf-t--global--spacer--lg);
    }
    &--nav {
      grid-area: nav;
      border-right: 1px solid var(--pf-t--global--color--border--default);
      overflow: visible;
    }
    &--inputs {
      grid-area: inputs;
      padding: var(--pf-t--global--spacer--lg);
      background-color: var(--pf-t--global--color--background--secondary);
      overflow: visible;
    }
  }





@media only screen and (max-width: 768px) {
  .pref-notifications {
    &--grid {
      grid-template: 
        "head"
        "nav" 
        "inputs"
        "btn";
      grid-template-rows: min-content auto auto 69px;
      grid-template-columns: 1fr;
    }
  }
}
  