.pref-c-input-category {
    .pf-v6-c-form__label-text {
        font-size: var(--pf-t--global--font--size--lg);
        font-weight: var(--pf-t--global--font--weight--body--default);
    }
}

.pref-c-input-group {
    padding-top: var(--pf-t--global--spacer--sm);
    padding-bottom: var(--pf-t--global--spacer--sm);
    .pf-v6-c-form__label-text {
        font-size: var(--pf-t--global--font--size--md);
        font-weight: var(--pf-t--global--font--weight--heading--bold);
    }
}
